#clockcontainer{
    position: absolute;
    margin-top: 10%;
    margin-left: 30%;
    height: 600px;
    width: 600px;
    background: url(./image/clock.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

#hour, #minute, #second{
    position: absolute;
    background-color: black;
    border-radius: 10px;
    transform-origin: bottom;
}

#hour{
    top: 29.5%;
    height: 11%;
    width: 0.9%;
    left: 49.8%;
    opacity: 0.8;
    
}


#minute{
    height: 14%;
    width: 0.8%;
    top: 26.5%;
    left: 49.7%;
    opacity: 0.8;
    
}

#second
{
    height: 17%;
    width: 0.4%;
    top: 23.5%;
    left: 50%;
    opacity: 0.8;
}

#root {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;
  transition: all 0.2s;
}

.slidecontainer{
    max-width: 200px;
    padding: 4px;
    position: relative;
  }

  img.icon {
    position: absolute;
    width: 32px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.6;
    pointer-events: none;
  }
    .icon--left{
      left:1%;
    }
    
    .icon--right{
      right: 1%;
    }
  
  
  
  input[type="range"] {
    --webkit-appearance: none;
    appearance: none;
    width: 100%;
    
    background: linear-gradient(90deg, #c5caed 60%, #fefefe 0);
    outline: none;
    border-radius: 1.6rem;
    height: 20px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  }
    input[type="range"]::-webkit-slider-thumb,
    ::-moz-range-thumb {
      --webkit-appearance: none;
      appearance: none;
      opacity: 0;
    }
  
    input[type="range"]:hover {
      cursor: pointer;
    }